<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Operation Google Drive</title>
  </head>
  <body>
    <div>
        <h1>Upload file</h1>
    
        <p>スライドファイルのアップロード</p>
    
        <form action="/uploadpdf" enctype="multipart/form-data" method="post">
            <input type="file" name="slide" accept="application/pdf"> <br>
            <input type="submit" name="button" value="Upload" />
        </form>
    </div>

    <div>
        <h1>Display file list</h1>
    

    </div>
    
    <div>
        <h1>Delete file</h1>
    
    </div>



  </body>
</html>